{% load static %}
{% include 'inc/header.html' %}

<link rel="stylesheet" href="{% static 'Recetas/detalle_recetas.css' %}">
    
    <div class="container">
        <img src="{{ receta.imagen.url }}" class="card-img-top" alt="{{ receta.nombre_plato }}" style="max-height: 350px; border-radius: 25px;">
        <br>
        <div class="row">
            <div class="col-lg-12">
                <h1>{{ receta.nombre_plato }}</h1>
                <p><strong>Categoría:</strong> {{ receta.categoria }}</p>
                <p><strong>Temporada:</strong> {{ receta.temporada }}</p>
                <p><strong>Origen:</strong> {{ receta.origen }}</p>
                <p><strong>Ingredientes:</strong> {{ receta.ingredientes }}</p>
                <p><strong>Descripción:</strong> {{ receta.descripcion }}</p>
                <p><strong>Instrucciones:</strong> {{ receta.instrucciones }}</p>
                <p><strong>Tiempo de preparación:</strong> {{ receta.tiempo_preparacion }}</p>
                <p><strong>Dificultad:</strong> {{ receta.dificultad }}</p>



                <!-- Mostrar quién subió la receta -->
                {% if receta.usuario %}
                    <p><strong>Subido por:</strong> <i class="fas fa-user"></i> {{ receta.usuario.first_name }} {{ receta.usuario.last_name }}</p>
                {% else %}
                <p><strong>Subido por:</strong> <i class="fas fa-user"></i> Sistema Recetarium</p>   
                {% endif %}
                
            </div>
        </div>
    </div>

    {% include 'inc/footer.html' %}
</body>
</html>
