body {
    background-color: #f8f9fa;
    font-family: 'Asap', sans-serif; /* Fuente principal */
    line-height: 1.6; /* Espaciado de línea */
    color: #343a40; /* Color de texto */
    min-height: 100vh; /* Altura mínima para ocupar toda la pantalla */
}
.table {
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}
.table th, .table td {
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    border: none;
    font-family: "Urbanist", sans-serif;
    padding: 12px; /* Espaciado interior */
    Font-weight: 500;
}
.table th {
    background-color: #6c757d;
    color: #ffffff;
    font-weight: 500;
    position: sticky;
    top: 0;
    z-index: 1;
    font-weight: 500;
}
.table td {
    background-color: #f8f9fa;
}
.table-hover tbody tr:hover {
    background-color: rgba(0, 123, 255, 0.1);
}
.img-thumbnail {
    max-width: 60px;
    border: 2px solid #28a745; /* Borde de imagen */
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.img-thumbnail:hover {
    transform: scale(1.1);
}
.btn {
    font-size: 14px;
    padding: 8px 16px; /* Reducido para mejor apariencia */
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
    background-color: #28a745;
    border: none;
    color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.btn:hover {
    transform: scale(1.1);
}
.fas.fa-plus {
    font-size: 24px;
}
.glow-text {
    font-family: 'Lobster', sans-serif;
    font-size: 37px;
    color: black;
    text-align: center;
    position: relative;
    animation: glow 2s infinite;
}
@keyframes glow {
    0% {
        text-shadow: 0 0 10px #1a7b31;
        color: black;
        transform: scale(1);
    }
    50% {
        text-shadow: 0 0 20px #1a7b31;
        color: #1a7b31;
        transform: scale(1.05);
    }
    100% {
        text-shadow: 0 0 10px #1a7b31;
        color: black;
        transform: scale(1);
    }
}
/* Tamaño de iconos para acciones */
.btn .fas.fa-sm {
    font-size: 0.8rem;
    margin-right: 3px;
}
.btn .fas.fa-lg {
    font-size: 1.5rem;
    margin-right: 4px;
}
/* Botón flotante a la derecha */
.float-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
.search-container {
margin-bottom: 20px;
position: relative;
background: linear-gradient(to right, #28a7465f, #f8f9fa); /* Cambiar el fondo a un gradiente suave */
border-radius: 25px; /* Borde redondeado */
padding: 5px; /* Espaciado interior reducido */
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
width: 94%;
}

.search-container input[type="text"] {
width: calc(100% - 40px); /* Ajustar el ancho del input */
padding: 12px;
border: none;
border-radius: 25px;
font-size: 16px;
background-color: transparent; /* Fondo transparente para mostrar el gradiente */
outline: none;
transition: all 0.3s ease-in-out;
color: #343a40; /* Color de texto */
}

.search-container input[type="text"]:focus {
background-color: rgb(255, 255, 255); /* Fondo semi-transparente al hacer foco */
box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.search-container .search-icon {
position: absolute;
right: 10px; /* Ajustar posición del ícono */
top: 50%;
transform: translateY(-50%);
cursor: pointer;
color: #6c757d;
transition: all 0.3s ease-in-out;
}

.search-container .search-icon:hover {
color: #28a745; /* Cambiar color al hacer hover */
transform: scale(1.1);
}

#reloadIcon {
    position: absolute;
    top: 51%;
    right: -50px; /* Ajustar la posición del icono de recarga */
    transform: translateY(-50%);
    cursor: pointer;
    color: #28a745;
    transition: all 0.3s ease-in-out;
}

#reloadIcon:hover {
    transform: scale(1.1);
}

.custom-btn {
    transition: all 0.3s ease-in-out;
    color: #fff; /* Color del texto */
    background-color: #28a56b; /* Color de fondo */
    border-color: #28a56b88; /* Color del borde */
}

.custom-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #28a56b; /* Sombra al hacer hover */
    background-color: #0f5434; /* Cambio de color al hacer hover */
    border-color: #0f5434; /* Cambio de color del borde al hacer hover */
}

.custom-btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.3); /* Sombra al enfocarse */
}

.pagination {
margin: 20px auto;
margin-left: 30%;
}

.pagination a {
color: #28a56b;
background-color: transparent;
border: 2px solid #28a56b;
padding: 8px 16px;
margin: 0 5px;
border-radius: 30px;
text-decoration: none;
display: inline-block;
transition: all 0.3s ease-in-out;
font-size: 14px;
}

.pagination a:hover {
background-color: #28a56b;
color: #fff;
}

.pagination .current {
color: #fff;
background-color: #28a56b;
border: 2px solid #28a56b;
padding: 8px 16px;
margin: 0 5px;
border-radius: 30px;
font-weight: bold;
}

.table.table-bordered.table-hover tbody tr.inhabilitada {
    color: #ff0000;
}