{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insertar Rol</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'style_cruds/formularios.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&display=swap" rel="stylesheet">
</head>
<body>

<div class="container">
    <h1>Insertar Nuevo Rol</h1>
    <form action="{% url 'insertar_roles' %}" method="post" id="insertRoleForm">
        {% csrf_token %}
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Ingrese un nombre" required>
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <input type="text" class="form-control" name="descripcion" id="descripcion" placeholder="Ingrese una descripción" required>
        </div>
        <div class="form-group">
            <label for="permisos">Permisos:</label>
            <input type="text" class="form-control" name="permisos" id="permisos" placeholder="Ingrese permisos" required>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary" style="background-color: #28a56b;">Guardar</button>
                <a href="{% url 'listado_roles' %}" class="btn btn-back">Volver al Listado</a>
            </div>
        </div>
    </form>
</div>

<!-- jQuery (Debe estar cargado antes de Bootstrap JS) -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- Bootstrap JS (opcional) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- SweetAlert2 JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
    $(document).ready(function() {
        $('#insertRoleForm').submit(function(e) {
            e.preventDefault();

            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function(response) {
                    // Mostrar alerta de éxito
                    Swal.fire({
                        icon: 'success',
                        title: '¡Rol insertado correctamente!',
                        text: 'Click en OK para continuar.',
                        confirmButtonColor: '#28a56b',
                        confirmButtonText: 'OK'
                    }).then((result) => {
                        // Redireccionar al listado de roles
                        window.location.href = "{% url 'listado_roles' %}";
                    });
                },
                error: function(xhr, status, error) {
                    // Mostrar alerta de error si hay problemas al insertar el rol
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Hubo un problema al insertar el rol. Por favor, inténtalo nuevamente.',
                        confirmButtonColor: '#d33',
                        confirmButtonText: 'OK'
                    });
                }
            });
        });
    });
</script>

</body>
</html>
