{% extends 'Inc/header.html' %}

{% load static %}

{% block title %}Recuperación de Contraseña en Django{% endblock %}

{% block content %}

<br><br><br>

<div class="full-page-background">
    <div class="white-transparent-container">
        <div class="container">
            <section class="small-section border-section border-top-0">
                <div class="row mt-4">
                        <div class="subscribe">
                            <div>
                                <h1><i><b>Correo enviado correctamente</b></i></h1>
                                <br>
                                <p>Tu correo ha sido enviado correctamente</p>
                                <p><b>Nota:</b> Si no lo puedes visualizar puedes buscar en la carpeta <b>Spam</b></p>
                        </div>
                    </div>
            </section>
        </div>
    </div>
</div>
<br><br><br><br><br>
<footer>
    <div class="footer-container">
        <div class="bordeado">
            <a href="{% url 'index' %}">
                <h1>RC</h1>
            </a>
        </div>
        <p>&copy; 2023 <b>Recetarium</b> Todos los derechos Reservados</p>
        <div class="social-icons">
            <a href="#" target="_blank">Facebook</a>
            <a href="#" target="_blank">Twitter</a>
            <a href="#" target="_blank">Instagram</a>
        </div>
    </div>
</footer>

{% block extra_css %}
<!-- Enlace al archivo CSS adicional -->
<link rel="stylesheet" href="{% static 'reset_password.css' %}">
{% endblock %}

{% endblock %}
