{% extends 'Inc/header.html' %}

{% load static %}

{% block title %}Recuperación de Contraseña en Django{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'Soporte/reset_password.css' %}">


<br><br><br>

<div class="full-page-background">
    <div class="white-transparent-container">
        <div class="container">
            <section class="small-section border-section border-top-0">
                <div class="row mt-4">
                        <div class="subscribe">
                            <div class="texto">
                                <h1>¡ Correo enviado Exitosamente !</h1>
                                <br>
                                <p>Tu correo ha sido enviado correctamente</p>
                                <p><b>Nota:</b> Si no lo puedes visualizar puedes buscar en la carpeta <b>Spam</b></p>
                        </div>
                    </div>
            </section>
        </div>
    </div>
</div>
<br><br><br><br><br>
{% include 'inc/footer.html' %}

{% block extra_css %}
<!-- Enlace al archivo CSS adicional -->
{% endblock %}

{% endblock %}
