{% extends 'Inc/header.html' %}

{% load static %}

{% block title %}Recuperación de Contraseña en Django{% endblock %}

{% block content %}
<br><br><br>
<div class="full-page-background">
    <div class="white-transparent-container">
        <div class="container">
            <section class="small-section border-section border-top-0">
                <div class="row mt-4">
                    <div class="col-lg-6">
                        <div class="subscribe">
                            <div>
                                <h4><i>Recupera tu Contraseña</i></h4>
                                <p>Ingresa tu correo electrónico para recuperar tu contraseña.</p>
                                <p><b>Nota:</b> Antes de llenar el campo a continuación recuerda que tu correo debe ser válido para recibir el correo.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <form action="" class="form-inline subscribe-form auth-form needs-validation" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <input type="email" class="form-control email-input" name="email" id="mce-EMAIL" placeholder="Ingresa tu correo electrónico" required="required">
                            </div>
                            <button type="submit" class="btn btn-solid submit-button mb-3">Enviar</button>
                        </form>
                    </div>
            </section>
        </div>
    </div>
</div>
<br><br><br><br><br>
<footer>
    <div class="footer-container">
        <div class="bordeado">
            <a href="{% url 'index' %}">
                <h1>RC</h1>
            </a>
        </div>
        <p>&copy; 2023 <b>Recetarium</b> Todos los derechos Reservados</p>
        <div class="social-icons">
            <a href="#" target="_blank">Facebook</a>
            <a href="#" target="_blank">Twitter</a>
            <a href="#" target="_blank">Instagram</a>
        </div>
    </div>
</footer>

{% block extra_css %}
<!-- Enlace al archivo CSS adicional -->
<link rel="stylesheet" href="{% static 'reset_password.css' %}">
{% endblock %}

{% endblock %}
