{% extends 'Inc/header.html' %}

{% load static %}

{% block title %}Recuperación de Contraseña en Django{% endblock %}

{% block content %}

<br><br><br>

<div class="full-page-background">
    <div class="white-transparent-container">
        <div class="container">
            <section class="small-section border-section border-top-0">
                <div class="row mt-4">
                    <div class="subscribe">
                        <div>
                            <h3>¡ÉXITO!</h3>
                            <br>
                            <p>Tu contraseña fue cambiada correctamente, puedes volver a iniciar sesión con esta nueva contraseña</p>
                            <br>
                            <a href="/"><button type="button">Volver al inicio</button></a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<br><br><br><br><br>
{% include 'inc/footer.html' %}

{% block extra_css %}
<!-- Enlace al archivo CSS adicional -->
<link rel="stylesheet" href="{% static 'reset_password.css' %}">

<style>
    h3 {
        font-family: 'Courgette', cursive;
        font-family: 'Lobster', sans-serif;
        margin-left: 45%;
        font-size: 45px;
        margin-top: -15px;
        color: grey;
    }

    a{
        text-decoration: none !important;
    }

    button {
       
        display: block;
        font-size: 16px;
        margin-top: 10px;
        width: 125px;
        height: 50px;
        background-color: #28a56b;
        border-radius: 25px;
        color: white;
        margin-left: 44%;
        border: none;
        transition: background-color 0.5s ease, transform 0.3s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        outline: none;
    }

    button:hover {
        background-color: #15663f;
        transform: translateY(-2px);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    }


    
</style>
{% endblock %}

{% endblock %}
