{% extends 'Inc/header.html' %}

{% load static %}

{% block title %}Recuperación de Contraseña en Django{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'Soporte/reset_password.css' %}">

<div class="full-page-background">
    <div class="white-transparent-container">
        <div class="container">
            <section class="small-section border-section border-top-0">
                <div class="row mt-4">
                    <div class="subscribe">
                        <h3>Cambiar Contraseña</h3>
                        <br>
                        <!-- Formulario para cambiar la contraseña -->
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <!-- Botón para enviar el formulario -->
                            <button type="submit">Cambiar Contraseña</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<br><br><br><br>

{% include 'inc/footer.html' %}

{% block extra_css %}
<!-- Enlace al archivo CSS adicional para personalización -->

{% endblock %}

{% endblock %}
