{% load static %}
{% include 'inc/header.html' %}
<link rel="stylesheet" href="{% static 'Dietas/detalle_dietas.css' %}">

    <div class="container">
        <div class="tel">
        <img src="{{ dietas.imagen.url }}" class="card-img-top" alt="{{ dietas.nombre }}" style="max-height: 300px;">
        </div>
        <div class="row">
            <div class="col-lg-12">
                <br>
                <!-- Contenido de los detalles de la receta -->
                <h1>{{ dietas.nombre }}</h1>
                <p><strong><i class="fas fa-info-circle"></i> Descripción:</strong> {{ dietas.descripcion }}</p>
                <p><strong><i class="fas fa-bullseye"></i> Objetivo: </strong> {{ dietas.objetivo }}</p>
                <p><strong><i class="fas fa-fire"></i> Calorias: </strong> {{ dietas.calorias }}</p>
                <p><strong><i class="fas fa-heartbeat"></i> Condición Medica: </strong> {{ dietas.condicion_medica }}</p>
                <p><strong><i class="fas fa-utensils"></i> Valor Nutricional:</strong> {{ dietas.valor_nutricional }}</p>
                <p><strong><i class="fas fa-running"></i> Actividad Fisica:</strong> {{ dietas.actividad_fisica }}</p>
                <p><strong><i class="fas fa-lightbulb"></i> Consejos: </strong> {{ dietas.consejos }}</p>
                <p><strong><i class="fas fa-mobile-alt"></i> Dispositivos:</strong> {{ dietas.dispositivos }}</p>
                <p><strong> <i class="fa fa-book" aria-hidden="true"></i> Bibliografia: </strong> {{ dietas.bibliografia }}</p>
                
                <br>

                <h1 style="margin-left: -40px;">Planificador de comidas semanal</h1>

                <br>

                <p>Optimiza tu semana con nuestro Planificador de Comidas Semanal. Organiza fácilmente tus comidas diarias, desde desayunos hasta cenas, asegurando una alimentación balanceada y ahorrando tiempo en la preparación. ¡Simplifica tu vida y disfruta de una semana bien planificada con nuestro práctico calendario de comidas!</p>}
                
            </div>
        </div>
        <br><br>
        <div class="meal-planner">
            <div class="header">
                <div class="meal-type-header"></div>
                <div class="day">Domingo</div>
                <div class="day">Lunes</div>
                <div class="day">Martes</div>
                <div class="day">Miércoles</div>
                <div class="day">Jueves</div>
                <div class="day">Viernes</div>
                <div class="day">Sábado</div>
            </div>
            <div class="meals">
                <div class="meal">
                    <div class="meal-type">Desayuno</div>
                    <div class="meal-plan" id="domingo-desayuno"></div>
                    <div class="meal-plan" id="lunes-desayuno"></div>
                    <div class="meal-plan" id="martes-desayuno"></div>
                    <div class="meal-plan" id="miercoles-desayuno"></div>
                    <div class="meal-plan" id="jueves-desayuno"></div>
                    <div class="meal-plan" id="viernes-desayuno"></div>
                    <div class="meal-plan" id="sabado-desayuno"></div>
                </div>
                <div class="meal">
                    <div class="meal-type">Media Mañana</div>
                    <div class="meal-plan" id="domingo-media-manana"></div>
                    <div class="meal-plan" id="lunes-media-manana"></div>
                    <div class="meal-plan" id="martes-media-manana"></div>
                    <div class="meal-plan" id="miercoles-media-manana"></div>
                    <div class="meal-plan" id="jueves-media-manana"></div>
                    <div class="meal-plan" id="viernes-media-manana"></div>
                    <div class="meal-plan" id="sabado-media-manana"></div>
                </div>
                <div class="meal">
                    <div class="meal-type">Almuerzo</div>
                    <div class="meal-plan" id="domingo-almuerzo"></div>
                    <div class="meal-plan" id="lunes-almuerzo"></div>
                    <div class="meal-plan" id="martes-almuerzo"></div>
                    <div class="meal-plan" id="miercoles-almuerzo"></div>
                    <div class="meal-plan" id="jueves-almuerzo"></div>
                    <div class="meal-plan" id="viernes-almuerzo"></div>
                    <div class="meal-plan" id="sabado-almuerzo"></div>
                </div>
                <div class="meal">
                    <div class="meal-type">Merienda</div>
                    <div class="meal-plan" id="domingo-merienda"></div>
                    <div class="meal-plan" id="lunes-merienda"></div>
                    <div class="meal-plan" id="martes-merienda"></div>
                    <div class="meal-plan" id="miercoles-merienda"></div>
                    <div class="meal-plan" id="jueves-merienda"></div>
                    <div class="meal-plan" id="viernes-merienda"></div>
                    <div class="meal-plan" id="sabado-merienda"></div>
                </div>
                <div class="meal">
                    <div class="meal-type">Cena</div>
                    <div class="meal-plan" id="domingo-cena"></div>
                    <div class="meal-plan" id="lunes-cena"></div>
                    <div class="meal-plan" id="martes-cena"></div>
                    <div class="meal-plan" id="miercoles-cena"></div>
                    <div class="meal-plan" id="jueves-cena"></div>
                    <div class="meal-plan" id="viernes-cena"></div>
                    <div class="meal-plan" id="sabado-cena"></div>
                </div>
            </div>
        </div>
    </div>
    {% include 'inc/footer.html' %}

    <script src="{% static 'js/calendario.js' %}"></script>
    
</body>
</html>
