{% load static %}
{% include 'inc/header.html' %}

<link rel="stylesheet" href="{% static 'Dietas/consejeros_form.css' %}">

<div class="search-container">
    <form action="{% url 'buscar_dietas' %}" method="get">
        <input type="text" placeholder="Buscar dietas..." name="search_dietas">
            </div>
        </div>
    </form>
</div>
    <div class="container" style="text-decoration: none;">
        <div class="row">
            {% for dieta in dietas %}
                <div class="col-lg-4 col-md-6">
                    <div class="card" >
                        <a href="{% url 'detalle_dietas' dieta.id_dieta_c %}">
                            <img src="{{ dieta.imagen.url }}" class="card-img-top" alt="{{ dieta.nombre }}">
                            <hr>
                            <div class="card-body">
                                <h2 class="card-title">{{ dieta.nombre }}</h2>
                                <p class="card-text">
                                    <span><i class="fas fa-bullseye"></i> {{ dieta.actividad_fisica }}</span><br>
                                    <span><i class="fas fa-heartbeat"></i> {{ dieta.condicion_medica }}</span><br>
                                    <span><i class="fas fa-fire"></i> {{ dieta.calorias }} calorías</span>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if dietas.has_previous %}
                <a href="?page=1">&laquo; Primera</a>
                <a href="?page={{ dietas.previous_page_number }}">Anterior</a>
            {% endif %}

            <span class="current">
                Página {{ dietas.number }} de {{ dietas.paginator.num_pages }}.
            </span>

            {% if dietas.has_next %}
                <a href="?page={{ dietas.next_page_number }}">Siguiente</a>
                <a href="?page={{ dietas.paginator.num_pages }}">Última &raquo;</a>
            {% endif %}
        </span>
    </div>
    <br>
    <p>.</p>
    {% include 'inc/footer.html' %}
    <script src="{% static 'js/Filtros_Recetas_Disponibles.js' %}"></script>
</body>
</html>