{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dietas Disponibles - Recetarium</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="{% static 'bootstrap/bootstrap4.5.2.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'lista_recetas.css' %}">
</head>
<body>
    <div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
    <header>
        <div class="encabezado">
            <div class="logo">
                <a href="{% url 'index' %}"><i class="bi bi-arrow-left-short"></i><h1>RC</h1></a>
            </div>
            <div class="pagina">
                <h2>Dietas Disponibles</h2>
            </div>
            <div class="slogan">
                <h1>Recetarium</h1>
            </div>
        </div>
        <br>
        <div class="search-container">
            <form action="{% url 'buscar_dietas' %}" method="get">
                <input type="text" placeholder="Buscar dietas..." name="search_dietas">
                    </div>
                </div>
            </form>
        </div>
    </header>
    <div class="container">
        <div class="row">
            {% for dieta in dietas %}
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <a href="{% url 'detalle_dietas' dieta.id_dieta_c %}">
                            <img src="{{ dieta.imagen }}" class="card-img-top" alt="{{ dieta.nombre }}">
                            <div class="card-body">
                                <h2 class="card-title">{{ dieta.nombre }}</h2>
                                <p class="card-text">
                                    <span><i class="fas fa-bullseye"></i> {{ dieta.objetivo }}</span><br>
                                    <span><i class="fas fa-heartbeat"></i> {{ dieta.condicion_medica }}</span><br>
                                    <span><i class="fas fa-fire"></i> {{ dieta.calorias }} calorías</span>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if dietas.has_previous %}
                <a href="?page=1">&laquo; Primera</a>
                <a href="?page={{ dietas.previous_page_number }}">Anterior</a>
            {% endif %}

            <span class="current">
                Página {{ dietas.number }} de {{ dietas.paginator.num_pages }}.
            </span>

            {% if dietas.has_next %}
                <a href="?page={{ dietas.next_page_number }}">Siguiente</a>
                <a href="?page={{ dietas.paginator.num_pages }}">Última &raquo;</a>
            {% endif %}
        </span>
    </div>
    <br>
    <p>.</p>
    <script src="{% static 'js/Filtros_Recetas_Disponibles.js' %}"></script>
</body>
</html>
