{% load static %}

{% include "inc/header.html" %}

<link rel="stylesheet" href="{% static 'calculadora.css' %}">

<body>

    <main>
        <div class="container">
            <form action="#" method="POST">
                {% csrf_token %}
                <h1>Calculadora IMC</h1>
                <input type="text" id="Estatura" name="estatura" placeholder="Ingrese su Estatura (M)" required>
                <input type="number" id="Peso" name="peso" placeholder="Ingrese su peso(Kg)" required>
                <div class="botones">
                    <button class="btn1" type="submit">Calcular</button>
                    <button type="button" class="btn2"><a href="{% url 'index' %}">Volver</a></button>
                </div>
            </form>
            
        </div>
    </main>

    {% include "inc/footer.html" %}

     <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
