{% load static %}
{% include "inc/header.html" %}


<link rel="stylesheet" href="{% static 'recetasApartado.css' %}">


<body>

    <main>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="texto">
                  <h1>Crear una nueva Receta</h1>
                  <p>¡Crea tus propias recetas y compártelas con la comunidad! Aprovecha esta oportunidad para compartir tus recetas favoritas y descubrir nuevas.</p>
                  <button><a href="">Crear Receta</a></button>
                  <small>Recetarium</small>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="texto">
                  <h1>Mis Recetas</h1>
                  <p>Visualiza y modifica tus recetas creadas anteriormente. Mantén un registro de tus creaciones culinarias y haz mejoras según tus gustos.</p>
                  <button><a href="">Ver mis Recetas</a></button>
                  <small>Recetarium</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      
    </main>
    
    

    {% include "inc/footer.html" %}
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
