{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <title>Crear Receta</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'Crear_Elegir_Receta.css' %}">
  <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
</head>
<body style="background-image: url('https://imagenes.20minutos.es/files/image_1920_1080/uploads/imagenes/2021/10/28/cocinando.jpeg');">
<main>
    <div class="center-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="card rounded-3 custom-card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Crear una nueva Receta</h5>
                            <p class="card-text">
                                ¡Crea tus propias recetas y compártelas con la comunidad! 
                                Aprovecha esta oportunidad para compartir tus recetas favoritas y descubrir nuevas.
                            </p>
                            <a href="#" class="btn btn-primary">Ir a Crear</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="card rounded-3 custom-card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Mis Recetas</h5>
                            <p class="card-text">
                                Visualiza y modifica tus recetas creadas anteriormente. 
                                Mantén un registro de tus creaciones culinarias y haz mejoras según tus gustos.
                            </p>
                            <a href="#" class="btn btn-primary">Ver Mis Recetas</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
