{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página no válida</title>
    <link rel="stylesheet" href="{% static 'invalid_page.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <h1>Recetarium</h1>
            <h2>Recetas Disponibles</h2>
        </div>
    </header>

    <br>

    <div class="container">
        <h1>Página no válida</h1>
        <p>Lo sentimos, no hay recetas disponibles en esta página.</p>
    </div>
</body>
</html>
