{% load static %}

{% include 'inc/header.html' %}

    <link rel="stylesheet" href="{% static 'lista_recetas.css' %}">

  
       <!--BUSCADOR Y FILTROS -->

        <div class="search-container">
            <form action="{% url 'buscar_recetas' %}" method="get">
                <input type="text" placeholder="Buscar recetas..." name="search">
                <button type="submit"><i class="fas fa-search"></i></button>
                <div class="filter-icon">
                    <button type="button" id="filter-toggle"><i class="fas fa-filter"></i></button>
                    <div class="filter-dropdown" id="filter-dropdown">
                        <select name="categoria">
                            <option value="">Categorías</option>
                            <option value="Plato principal">Plato principal</option>
                            <option value="Entrada">Entrada</option>
                            <option value="Postre">Postre</option>
                            <option value="Ensalada">Ensalada</option>
                        </select>
                        <select name="dificultad">
                            <option value="">Dificultades</option>
                            <option value="Moderada">Moderada</option>
                            <option value="Baja">Baja</option>
                        </select>
                        <select name="tiempo_preparacion">
                            <option value="">Tiempos preparación</option>
                            <option value="10 - 15">10 - 15 minutos</option>
                            <option value="15 - 30">15 - 30 minutos</option>
                        </select>
                        <button type="submit" id="filter-submit"><i class="fas fa-search"></i> Aplicar filtros</button>
                    </div>
                </div>
            </form>
        </div>
   

    <div class="container">
        <div class="row">
            {% for receta in recetas %}
                <div class="col-lg-4 col-md-6">
                    
                    <div class="card">
                        <a href="{% url 'detalle_receta' receta.id_receta %}">
                            <img src="{{ receta.imagen.url }}" class="card-img-top" alt="{{ receta.nombre_plato }}">
                            <div class="card-body">
                                <h2 class="card-title">{{ receta.nombre_plato }}</h2>
                                <p class="card-text">
                                    <span><i class="fas fa-folder"></i> {{ receta.categoria }}</span>
                                    <span><i class="fas fa-clock"></i> {{ receta.tiempo_preparacion }} Minutos</span>
                                    <span><i class="fas fa-star"></i> {{ receta.dificultad }}</span>
                                </p>
                                {% if receta.usuario %}
                                    <p class="card-text"> 
                                        <span><i class="fas fa-user"></i> {{ receta.usuario.first_name }} {{ receta.usuario.last_name }}</span>
                                    </p>
                                {% else %}
                                    <p class="card-text"> 
                                        <span><i class="fas fa-user"></i> Sistema Recetarium.</span>
                                    </p>
                                {% endif %}
                            </div>
                        </a>    
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- Agregar enlaces de paginación -->
    <div class="pagination">
        <span class="step-links">
            {% if recetas.has_previous %}
                <a href="?page=1">&laquo; Primera</a>
                <a href="?page={{ recetas.previous_page_number }}">Anterior</a>
            {% endif %}

            <span class="current">
                Página {{ recetas.number }} de {{ recetas.paginator.num_pages }}.
            </span>

            {% if recetas.has_next %}
                <a href="?page={{ recetas.next_page_number }}">Siguiente</a>
                <a href="?page={{ recetas.paginator.num_pages }}">Última &raquo;</a>
            {% endif %}
        </span>
    </div>

    {% include 'inc/footer.html' %}

    <script src="{% static 'js/Filtros_Recetas_Disponibles.js' %}"></script>
</body>
</html>
