{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap/bootstrap4.5.2.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'recetarium' %}">
    <title>Recetarium</title>
</head>
<body>

    <main>
        <div class="recetarium">
            <h1>Bienvenido</h1>
            <h2>Recetarium</h2>
        </div>
    </main>

</body>
</html>