{% extends 'base.html' %}

{% block content %}
<main class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Correo Enviado</h3>
                    <p class="card-text text-muted text-center mb-4">Hemos enviado un correo electrónico con las instrucciones para restablecer tu contraseña. Por favor, revisa tu bandeja de entrada y sigue los pasos indicados.</p>
                    <div class="text-center">
                        <a href="/" class="btn btn-success">Volver al Inicio</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
