{% extends 'base.html' %}

{% block content %}
<main class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card border-0 shadow-sm" style="padding: 20px 0;">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Recuperación de Contraseña</h3>
                    <p class="card-text text-muted text-center mb-4">Por favor, ingrese su correo electrónico para restablecer su contraseña.</p>

                    <form class="needs-validation" method="POST" novalidate>
                        {% csrf_token %}
                        <div class="form-group mb-4">
                            <input type="email" class="form-control rounded-pill py-3 px-4{% if form.email.errors %} is-invalid{% endif %}" name="email" placeholder="Correo electrónico" required style="border: 1px solid black; border-radius: 20px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);">
                            {% for error in form.email.errors %}
                                <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-success btn-block">Enviar Correo de Recuperación</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
