{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'singup.css' %}">
    <title>Recetarium - Registrate</title>
</head>

<body>
    <header>
        <div class="logo">
           <a href="{% url 'index' %}"> <h1>RC</h1></a>
        </div>
       
    </header>

    <main>
        <div class="form">
            <div class="encabezado">
                <h1>Crea Tu Cuenta</h1>
            </div>
            <div class="slogan">
                <h1>Recetarium</h1>
                <h2>La Mejor Manera De Cocinar</h2>
            </div>
         

            <div class="contenido">

                <form action="" method="POST">
                    <div class="form-group">
                        <input type="text" id="email" name="email" placeholder="Primer Nombre" required>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="password" placeholder="Segundo nombre" required>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="password" placeholder="Correo Electronico" required>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="password" placeholder="Contraseña" required>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="password" placeholder="Contraseña (Confirmacion)" required>
                    </div>
                    
                    <button class="red" type="submit">¡Crear Cuenta!</button>
                    <h5>¿Ya tienes cuenta?</h5>
                    <a href="{% url 'signin' %}" class="iniciar">Iniciar Sesion</a>
                </form>

            </div>
        </div>
    </main>

    <footer>
        <p>Recetarium 2024 Todos los derechos reservados</p>
    </footer>
    
</body>
</html>