{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{% static 'singup.css'%}">
    <title>Recetarium - Registrate</title>
</head>

<body>
    <header>
        <div class="logo">
           <a href="{% url 'index' %}"> <h1>RC</h1></a>
        </div>
       
    </header>

    <main>
        <div class="form">
            <div class="encabezado">
                <h1>Crea Tu Cuenta</h1>
            </div>
            <div class="slogan">
                <h1>Recetarium</h1>
                <h2>La Mejor Manera De Cocinar</h2>
            </div>
         

            <div class="contenido">

                <form action="" method="POST">

            
                    </form>
  
                </form>

            </div>
        </div>
    </main>

    <footer>
        <p>Recetarium 2024 Todos los derechos reservados</p>
    </footer>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>