{% load static %}
{% include 'inc/header.html' %}

    <link rel="stylesheet" href="{% static 'soporte.css' %}">
    <main>
            
        <div class="container">
            <div class="contact-form">
                <h2>Bienvenido a soporte técnico</h2>
                <h3>Contáctanos</h3>
                <form>
                    <div class="form-group">
                        <i class="fas fa-user"></i>
                         <input type="text" placeholder="Nombre" required>
                    </div>
                    <div class="form-group">
                        <i class="fas fa-envelope"></i>
                        <input type="email" placeholder="Correo Electrónico" required>
                    </div>
                    <div class="form-group">
                        <i class="fas fa-comment"></i>
                        <textarea placeholder="Descripción del Problema" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-success btn-block">Enviar</button>
                </form>
                <p class="mt-3">¿Necesitas Ayuda? <a href="#">Contacta con Soporte</a></p>
            </div>
        </div>

    </main>

  {% include 'inc/footer.html' %}
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</body>
</html>
