{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soporte Técnico</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap">
    <link rel="stylesheet" href="../static/soporte-tecnico.css">
</head>
<body>
    <header>
        <div class="logo">
           <a href="{% url 'index' %}"> <h1>Recetarium</h1></a>
        </div>
    </header>
    <main>
        <div class="form">
            <br><br>

            <div class="slogan">
                <h1>Bienvenido a soporte ténico</h1>
            </div>
            <div class="encabezado">
                <h1>Contáctanos</h1>
            </div>
            <div class="contenido">
                <form>
                    <div class="form-group">
                        <input type="text" placeholder="Nombre">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Correo Electrónico">
                    </div>
                    <div class="form-group">
                        <textarea rows="5" placeholder="Descripción del Problema"></textarea>
                    </div>
                    <button type="submit" class="red">Enviar</button>
                </form>
                <h6>¿Necesitas Ayuda? <a href="#" style="color: #28a56b;">Contacta con Soporte</a></h6>
            </div>
        </div>
    </main>
    <footer>
        © 2024 Página de Soporte. Todos los derechos reservados.
    </footer>
</body>
</html>
