{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Ingrediente</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style_cruds/formularios.css' %}">
</head>
<body>
    <div class="container">
        <h1>Crear Ingrediente</h1>
        <form id="crearIngredienteForm" method="POST" action="{% url 'crear_ingrediente' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.nombre.label_tag }}
                        {{ form.nombre }}
                    </div>
                    <div class="form-group">
                        {{ form.descripcion.label_tag }}
                        {{ form.descripcion }}
                    </div>
                    <div class="form-group">
                        {{ form.cantidad.label_tag }}
                        {{ form.cantidad }}
                    </div>
                    <div class="form-group">
                        {{ form.variedad.label_tag }}
                        {{ form.variedad }}
                    </div>
                    <div class="form-group">
                        {{ form.usos.label_tag }}
                        {{ form.usos }}
                    </div>
                    <div class="form-group">
                        <label for="">Plan nutricional:</label>
                        {{ form.p_nutricional }}
                    </div>
                    <div class="form-group">
                        {{ form.consejos.label_tag }}
                        {{ form.consejos }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.grasas_saturadas.label_tag }}
                        {{ form.grasas_saturadas }}
                    </div>
                    <div class="form-group">
                        {{ form.calorias.label_tag }}
                        {{ form.calorias }}
                    </div>
                    <div class="form-group">
                        {{ form.hidratos_de_carbono.label_tag }}
                        {{ form.hidratos_de_carbono }}
                    </div>
                    <div class="form-group">
                        {{ form.grasas_trans.label_tag }}
                        {{ form.grasas_trans }}
                    </div>
                    <div class="form-group">
                        {{ form.total_carbohidratos.label_tag }}
                        {{ form.total_carbohidratos }}
                    </div>
                    <div class="form-group">
                        {{ form.azucares.label_tag }}
                        {{ form.azucares }}
                    </div>
                    <div class="form-group">
                        {{ form.precio.label_tag }}
                        {{ form.precio }}
                    </div>
                    <div class="form-group">
                        {{ form.receta.label_tag }}
                        {{ form.receta }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-create">Crear Ingrediente</button>
                <a href="{% url 'listado_ingredientes' %}" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Volver al Listado
                </a>
            </div>
        </form>
    </div>

    <!-- jQuery, Popper.js, Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- Custom Script -->
    <script>
        $(document).ready(function() {
            $('#crearIngredienteForm').submit(function(event) {
                event.preventDefault(); // Prevenir el envío por defecto del formulario
                
                // Realizar la solicitud AJAX o procesar el formulario aquí
                $.ajax({
                    type: "POST",
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    success: function(response) {
                        // Mostrar mensaje de éxito con SweetAlert2
                        Swal.fire({
                            title: '¡Éxito!',
                            text: 'El ingrediente ha sido creado correctamente.',
                            icon: 'success'
                        }).then((result) => {
                            // Redireccionar al listado de ingredientes
                            window.location.href = "{% url 'listado_ingredientes' %}";
                        });
                    },
                    error: function(xhr, status, error) {
                        // Manejar errores si es necesario
                        console.error(xhr.responseText);
                    }
                });
            });
        });
    </script>
</body>
</html>
