{% load static %}  

<link rel="stylesheet" href="{% static 'inc/footer.css' %}">

    <footer>
        <div class="bordeado">
           <a href="{% url 'index' %}"><h1>RC</h1></a>
        </div>
        <p>&copy; 2023 <b>Recetarium</b> Todos los derechos Reservados</p>
        <div class="social-icons">
            <a href="#" target="_blank">Facebook</a>
            <a href="#" target="_blank">Twitter</a>
            <a href="#" target="_blank">Instagram</a>
        </div>
    
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

  <!-- SWEET ALERT 2 -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  
</body>
</html>