@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('/static/media/iniciar.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: auto; /* Permitir desplazamiento en la página */
}

main {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.texts{
    text-align: center;
}

.iniciar{
    display:none;
}

.rc , .frase{
    color: white;

}

.rc{
    font-family: 'Courgette', cursive;
    font-family: 'Lobster', sans-serif;
}

.iniciar ,.frase{
    font-family: "Urbanist", sans-serif;

}

a {
    color: #007bff;
    text-decoration: none !important;
    transition: color 0.4s ease;
}
a:hover{
    color: #28a56b;
}

.form {
    background-color: rgba(255, 255, 255, 0.486);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 620px;
    max-width: 90%;
    height: 560px;
    border: 4px solid transparent; /* Agrega el borde */
    transition: border-color 0.3s ease , transform 0.5s ease; /* Aplica la transición al cambio de color del borde */
}

.form:hover {
    border-color: #28a56b; /* Cambia el color del borde al pasar el ratón por encima */
    transform: scale(1.05); /* Escala el contenedor al 105% cuando se pasa el cursor */
}


.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    margin-top: 17px;
    width: 100%;

}

form .form-group {
    margin-bottom: 20px;
    text-align: left;
}

form input[type="email"],
form input[type="password"] {
    width: calc(100% - 10px);
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Define la sombra */
    transition: border-color 0.3s ease; /* Agrega una transición de 0.3 segundos al cambio de color del borde */
}

form input[type="text"]:hover,
form input[type= "password"]:hover {
    border-color: #28a56b; /* Cambia el color del borde al pasar el ratón por encima */
}


.red{
    font-family: "Urbanist", sans-serif;    
    width: 100%;
    padding: 10px;
    font-size: 19px;
    background-color: #28a56b;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Define la sombra */

}


form button:hover {
    background-color: #1e7e4e;
}
.crear {
    font-family: "Urbanist", sans-serif;
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 19px;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease; /* Agrega box-shadow a la transición */
    text-align: center; /* Alinea el texto en el centro */
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Define la sombra */
}

.crear:hover {
    background-color: white;
    color: #007bff;
}

.texts .mensaje{
   color: rgb(246, 255, 254);
   font-family: "Urbanist", sans-serif;    
   font-weight: 500;
   background-color: rgba(131, 14, 14, 0.637);
   border-radius: 15px; 
   margin-top: 20px; 
   text-align: center;
}




@media (max-width: 768px) {
    body {
        background: url('https://images.pexels.com/photos/4686826/pexels-photo-4686826.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center/cover;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        overflow: auto; 
    }

    .iniciar{
        display: block;
        font-family: "Urbanist", sans-serif;
        color: white;
    }

    main {
        width: 100%;
        height: 50%; 
    }

    .form:hover {
        border: none; 
    }
    
}

@media (max-width: 381px) {
    body {
        background: url('https://images.pexels.com/photos/7613549/pexels-photo-7613549.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center/cover;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        overflow: auto; /* Permitir desplazamiento en la página */
        
    }
}