body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card {
    background-color: rgba(255, 255, 255, 0.7);
    transition: background-color 0.3s, color 0.3s;
}

.card:hover {
    background-color: #007bff;
    color: #fff;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.custom-card {
    width: 100%;
    max-width: auto;
    padding: 24px;
    margin: 10px;
}
