@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&display=swap');


body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card {
    background-color: rgba(175, 14, 14, 0.7);
    transition: background-color 0.3s, color 0.3s;
}

.card:hover {
    background-color: #28a56b;
    color: #fff;
}

.btn-primary {
    background-color: #28a56b;
    border-color: #127446;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: #127446;
    border-color: #127446;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.custom-card {
    width: 100%;
    max-width: auto;
    padding: 24px;
    margin: 10px;
}
