
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
/* Estilo personalizado */
body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(25, 100, 65) 3%, rgba(36, 121, 36, 0.514) 38%, rgb(35, 146, 109) 68%, rgb(33, 71, 54) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}


.encabezado {
    display: flex;
    justify-content: space-between; /* Ajusta la distribución horizontal */
    align-items: center; /* Alinea los elementos verticalmente al centro */
    font-size: 3.5vw; /* Tamaño de fuente responsive */
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.logo{
    margin-left: 25px;
}

.logo h1 , .pagina h2{
    font-family: 'Courgette', cursive;
    font-family: 'Lobster', sans-serif;
    color: rgb(255, 255, 255);
    transition: color 0.3s ease, font-size 0.3s ease;
    text-align: center;
    
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo i {
    color: white;
    margin-right: 8px; /* Espacio entre el icono y el texto */
 
}

.slogan h1 {
    margin-right: 115px;
    color: #ffffff;
    font-family: "Urbanist", sans-serif;
    font-size: 20px;
}

.logo:hover h1, .pagina h2  :hover{
    font-size: 45px;
}

.card {
    margin-bottom: 20px;
    border: 1px solid #49484869;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    margin-top: 55px;
}

.card:hover {
    transform: translateY(-5px);
}

.card a {
    text-decoration: none; /* Eliminar subrayado en el enlace */
    color: inherit; /* Heredar color del texto */
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 125px; /* Altura fija para todas las tarjetas */
}

.card-title {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.card-text {
    font-size: 16px;
    color: #666;
    display: flex;
    justify-content: space-between; /* Distribuir elementos de manera uniforme */
}

.card-text span {
    display: flex;
    align-items: center;
}

.card-text span i {
    margin-right: 5px;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.search-container form {
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 55px;
    font-size: 16px;
    width: 570px; /* Ancho ajustable según tus necesidades */
    border: none;
}

.search-container button[type="submit"] {
    background-color: transparent; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px; /* Espacio entre el campo de búsqueda y el botón */
}

.search-container button[type="submit"]:hover {
    background-color: transparent; /* Color de fondo del botón al pasar el mouse */
}

/* Estilos para el icono de búsqueda */
.search-container button[type="submit"] i {
    font-size: 18px;
    margin-right: 5px; /* Espacio entre el icono y el texto del botón */
}

.filter-icon {
    margin-left: 10px;
    
}

.filter-icon button {
    background-color: transparent; /* Color de fondo del botón */
    color: #c01c1c; /* Color del icono */
    border: none;
    padding: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease, border 0.3 ease; /* Transición suave al pasar el cursor */
}



.filter-dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1000;
}
.filter-icon {
    position: relative;
}
.filter-icon button {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.filter-dropdown select {
    margin-bottom: 10px;
}
.show {
    display: block !important; /* Asegúrate de que el menú desplegable se muestre */
}

.filter-dropdown select {
    margin-bottom: 10px;
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    transition: border-color 0.3s ease;
    height: 40px;
}

.filter-dropdown select:focus {
outline: none;
border-color: #28a745; /* Cambia el color del borde cuando el select está enfocado */
}


.pagination {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination a {
    color: #333;
    float: none;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 2px;
}

.pagination a:hover:not(.active) {
    background-color: #28a56b;
    color: white;
    border: 1px solid #28a56b;
}

.pagination a.active {
    background-color: #28a56b;
    color: white;
    border: 1px solid #28a56b;
}


/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
    .logo h1 {
        font-size: 8vw; /* Tamaño de fuente responsive */
    }
    .logo h2 {
        font-size: 6vw; /* Tamaño de fuente responsive */
    }
    .card-title {
        font-size: 18px;
    }
    .card-img-top {
        height: 150px; /* Ajuste de altura para pantallas pequeñas */
    }
    .card-text {
        font-size: 14px; /* Reducir el tamaño del texto para pantallas pequeñas */
    }
    .search-container {
        flex-direction: column; /* Cambiar a dirección de columna */
        align-items: center; /* Centrar elementos horizontalmente */
    }

    .search-container form {
        display: flex; /* Alinea la barra de búsqueda y el icono de búsqueda */
        justify-content: center; /* Centrar elementos horizontalmente */
        align-items: center; /* Centrar elementos verticalmente */
        width: 100%; /* Ancho completo */
    }

    .search-container input[type="text"] {
        width: calc(50% - 10px); /* Ancho ajustado para la barra de búsqueda */
        margin-right: 10px; /* Espacio entre la barra de búsqueda y el icono de búsqueda */
        margin-bottom: 0px; /* Espacio entre la barra de búsqueda y los filtros */
    }

    .search-container button[type="submit"] {
        width: calc(20% - 10px); /* Ancho ajustado para el icono de búsqueda */
        margin-left: 10px; /* Espacio entre la barra de búsqueda y el icono de búsqueda */
        margin-bottom: 10px; /* Espacio entre el icono de búsqueda y los filtros */
    }

    .filter-icon {
        width: 60%; /* Ancho completo */
        display: flex; /* Alinea los filtros en el centro */
        justify-content: center; /* Centrar elementos horizontalmente */
    }

    .filter-icon button {
        width: calc(100% - 20px); /* Ancho ajustado para los filtros */
        height: 15px; /* Altura para mantener la proporción */
        margin-bottom: 10px; /* Espacio entre los filtros y el borde inferior de la pantalla */
    }
}