/* Asegúrate de que el cuerpo y el contenedor principal ocupen al menos el 100% de la altura de la ventana gráfica */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    background: url('https://static.vecteezy.com/system/resources/previews/033/713/975/non_2x/food-the-sun-mountains-food-mountains-food-hd-wallpaper-ai-generated-free-photo.jpg') no-repeat center center fixed;
    background-size: cover;
}

.full-page-background {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.white-transparent-container {
    background: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad */
    padding: 70px;
    border-radius: 8px; /* Opcional: agrega bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Opcional: agrega sombra para mejor visibilidad */
    max-width: 970px; /* Ancho máximo del contenedor */
    width: 100%; /* Ancho del 100% para dispositivos móviles */
    text-align: justify;
}

/* Estilos adicionales */
.logo {
    margin-left: 25px;
}

.logo h1 , .pagina h2 {
    font-family: 'Courgette', cursive;
    font-family: 'Lobster', sans-serif;
    color: #ffffff;
    transition: color 0.3s ease, font-size 0.3s ease;
    text-align: center;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo i {
    color: #ffffff;
    margin-right: 8px; /* Espacio entre el icono y el texto */
}

.slogan h1 {
    margin-right: 115px;
    color: #ffffff;
    font-family: "Urbanist", sans-serif;
    font-size: 20px;
}

.logo:hover h1, .pagina h2:hover {
    font-size: 45px;
}


.subscribe p {
    font-family: Arial, sans-serif; /* Cambia la fuente a Arial o cualquier otra fuente profesional y minimalista */
    font-size: 16px; /* Ajusta el tamaño del texto según sea necesario */
    line-height: 1.5; /* Ajusta el espacio entre líneas para mejorar la legibilidad */
}

/* Estilo para el encabezado */
.subscribe h4 {
    font-family: Arial, sans-serif; /* Cambia la fuente a Arial o cualquier otra fuente profesional y minimalista */
    font-size: 24px; /* Ajusta el tamaño del texto según sea necesario */
    margin-bottom: 20px; /* Agrega un margen inferior para separar el encabezado del párrafo */
}

.email-input {
    width: 420px !important; /* Haz que el campo de correo electrónico ocupe todo el ancho disponible */
    padding: 23px;
    font-size: 16px; /* Ajusta el tamaño del texto según sea necesario */
}

/* Estilo para el botón de enviar */
.submit-button {
    display: block; /* Cambia el botón a un elemento de bloque para que aparezca debajo del campo de correo electrónico */
    margin-top: 10px; /* Agrega un margen superior para separar el botón del campo de correo electrónico */
    margin-left: auto; /* Centra el botón horizontalmente */
    margin-right: auto; /* Centra el botón horizontalmente */
    width: 150px; /* Hace que el ancho del botón se ajuste automáticamente al contenido */
    height: 45px;
    background-color: #28a56b;
}

.submit-button:hover {
    background-color: #1e7f47; /* Cambia el color de fondo del botón a un tono más oscuro de verde al pasar el mouse */
}

/* Estilo para el pie de página */
footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
}

footer h1 {
    font-family: 'Courgette', cursive, 'Lobster', sans-serif;
    transition: color 0.3s ease, font-size 0.3s ease;
}

footer h1:hover {
    color: #000;
    font-size: 50px;
}

footer p {
    font-family: "Urbanist", sans-serif;
}

footer a {
    color: white;
}

footer a:hover {
    color: black;
    text-decoration: none;
}

.social-icons a {
    margin: 0 10px;
}

/* Nuevo bloque para asegurar que el contenido principal ocupe el 100% de la altura de la página */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.full-page-background {
    flex: 1;
}
