{% load static %}
{% include 'inc/header.html' %}

<link rel="stylesheet" href="{% static 'Soporte/soporte_send.css' %}">

<div class="mensaje">
    <div class="contenido">
        <h1>RC</h1>
        <p>Grupo Recetarium </p>
        <h2>¡ Mensaje Enviado !</h2>
        <br>
        <h3>Gracias por contactarnos</h3>
        <h4>Analizaremos tu descripicion para corregir posibles Errores</h4>
        <br>
        <a href="/">
            <button class="btn btn-primary">Inicio</button>
        </a>
    </div>
</div>

{% include 'inc/footer.html' %}

</body>

</html>