@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: url('https://images.pexels.com/photos/5645050/pexels-photo-5645050.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    overflow: auto; 
    text-align: center;
}

.container{
    width: 40%;
    padding: 20px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.486);
    transition:  transform  0.4s  ease;
    margin-bottom: 25px;
}

hr{
    background-color: #28a56b;
    height: 4px;
    border-radius: 25px;
}
@media (max-width: 768px) {

    body {
        background: url('https://images.pexels.com/photos/842571/pexels-photo-842571.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center/cover;
        color: white;
        
    }

    .container{
        width: auto;
    }
}